body {
	 background: url("../images/picture.jpg");
	 background-size: cover;
	 font-family: 'Quantico', sans-serif;
}

.non-header {
	margin: 0 auto;
	height: 600px;
	width: 75%;
	padding: 10px 30px 30px 30px;
	font-family: 'Quantico', sans-serif;
	border-radius: 50px;
	border: 2px solid grey;
	background-color: #eee;
	box-shadow: 10px 15px 5px #cbcbcb;
	margin-bottom: 50px;
}

.row{
	height: 75px;
	width: 350px;
	margin-top: 25px;
	margin-left: 20px;
	margin-top: 30px;
	font-size: 20px;
	vertical-align: center;
}

.question-area, #question{
	width: 900px;
}

.jumbotron {
	height: 150px;
    width: 75%;
    background-color: rgb(238, 238, 238);
    box-shadow: rgb(203, 203, 203) 10px 15px 5px;
    margin: 10px auto 25px;
    padding: 1px 30px 5px;
    border-bottom: 1px solid rgb(66, 244, 244);
    border-radius: 50px;
}

.jumbotron h1 {
	font-size: 40px;
	color: red;
	font-family: 'Audiowide', cursive;
}

#placeholder{ 
	width:300px;
	margin-left: 5px;
	margin-top: 50px;
	margin-right: 10px;
	float: left;
}

.resultArea {
	background-color: #eee;
	margin: 0 auto;
	height: 300px;
	width: 75%;
	padding: 10px 30px 30px 30px;
	font-family: 'Quantico', sans-serif;
	border-radius: 40px;
	border: 2px solid grey;
	background-color: #eee;
	box-shadow: 10px 15px 5px #cbcbcb;
}

h2 {
	color: red;
}

h3 {
	padding: 10px;
}